  /* Smooth Scroll */
    html {
      scroll-behavior: smooth;
    }

 #cursor-light {
      position: fixed;
      width: 350px;
      height: 350px;
      background: radial-gradient(circle, rgba(138, 43, 226, 0.3), transparent);
      filter: blur(90px); /* Membuat cahaya melebur */
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
    }
    
    body{
       font-family: 'JetBrains Mono', monospace;
      overflow:hidden;
    }
    /* Custom CSS */
    .gradient-bg {
      background: radial-gradient(circle at center, #222, #000);
    }
    .arrow-down {
      animation: bounce 2s infinite;
    }
    
     /* Styling for logos */
    .tech-logos img {
      width: 50px;
      height: 50px;
      margin: 10px;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }

    .tech-logos img:hover {
      transform: scale(1.2);
    }

    /* Popover Styling */
    .popover {
      display: none;
      position: absolute;
      background-color: #000;
      color: #fff;
      border-radius: 4px;
      padding: 8px;
      font-size: 14px;
      max-width: 150px;
      z-index: 10;
    }

    .tech-logos img:focus + .popover,
    .tech-logos img:hover + .popover {
      display: block;
    }
    
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
    }
    .logo {
      position: absolute;
      opacity: 0.8;
      animation: float 5s ease-in-out infinite;
      transition: opacity 0.5s ease;
    }
    @keyframes float {
      0% {
        transform: translateY(0) rotate(0deg);
      }
      50% {
        transform: translateY(-20px) rotate(15deg);
      }
      100% {
        transform: translateY(0) rotate(0deg);
      }
    }
    /* Logo Styles */
    .logo-img {
      width: 70px;
      height: 70px;
       filter:  grayscale(100%) brightness(70%) contrast(75%);
    
    }
